<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Insert Product</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

</head>
<body>

	<div th:fragment="order-full" th:object="${order}">
		<div class="container-fluid">
			<table class="table table-striped">
				<thead class="thead-light">
					<tr class="d-flex">
						<th class="col-2">quantity</th>
						<th class="col-6">name</th>
						<th class="col-2">unit price</th>
						<th class="col-2">subtotal</th>
					</tr>
				</thead>
				<tbody>
					<tr th:id='${"item-" + item.product.id}'
						th:class='|d-flex ${((updatedItem != null) && updatedItem.equals(item) ? "table-success updated-item" : "")}|'
						th:each=" item : ${order.items}">

						<td class="col-2"><input
							th:id="|quantity-${item.product.id}|" name="quantity"
							type="number" min="1" class="form-control"
							th:oninput='|updateSubtotal("${item.product.id}")|'
							th:value="${item.quantity}"></td>

						<td class="col-6" th:text="${item.product.name}"></td>

						<td class="col-2" th:id="|price-${item.product.id}|"
							th:text="|$${item.product.salePrice}|"></td>

						<td class="col-2" th:id="|subtotal-${item.product.id}|"
							th:text="|$${item.product.salePrice * item.quantity}|"></td>
					</tr>
				</tbody>
				<tfoot>
					<tr class="d-flex justify-content-end">
						<td class=" col-2">Total:</td>
						<td class="col-2" id="total" th:field="${order.total}"
							th:text="|$${order.total}"></td>
					</tr>
				</tfoot>
			</table>
			<hr>
		</div>
		<script>
			function updateSubtotal(id) {
				toogleFocus(id);
				var subtotal = document.getElementById("subtotal-" + id);
				var price = getNumberValue(document.getElementById("price-" + id).textContent);
				var quantity = getNumberValue(document.getElementById("quantity-" + id).value);
				subtotal.innerHTML = "$" + (price * quantity);
				updateTotal();
				serverUpdateOrder(id, quantity);
			}
			function serverUpdateOrder(id, quantity) {
				var req = new XMLHttpRequest();
				req.open("POST",
						"http://localhost:8080/" + id + "?quantity=" + quantity, true);

				req.onreadystatechange = function() {
					if (this.readyState == 4) {
						//console.log(this.responseText);
					}
				};
				req.send();
			}
			
			function updateTotal() {
				var subtotals = document.querySelectorAll('[id^="subtotal-"]');
				var total = 0;
				subtotals.forEach(s => total += getNumberValue(s.textContent));
				console.log(total);
				document.getElementById("total").innerHTML = "$" + total;
			}
			
			function focusOnUpdatedItem() {
				var elmnt = document.getElementsByClassName("updated-item")[0];
				elmnt ? elmnt.scrollIntoView() : null;
			}
			
			function toogleFocus(id){
				var prev = document.getElementsByClassName("table-success")[0]; 
				var next = document.getElementById("item-" + id);
				prev.classList.remove("table-success");
				next.classList.add("table-success");
			}
			
			function getNumberValue(str){
				console.log("valuestr: " + str);
				 	var value = parseFloat(str.slice(str.indexOf("$") + 1));
			 console.log("value: " + value);
			 return value;}
			
			focusOnUpdatedItem();
		</script>
		<script src="/js/productHelper.js"></script>
	</div>

</body>